body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background: url("../img/mountains.jpg");
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #showcase img {
    display: inline-block;
    max-width: 85%; }

#newsletter .btn-primary {
  background: #3292a6;
  border-color: #3292a6; }

#boxes .bg-primary {
  background-color: #3292a6 !important; }

#boxes .border-primary {
  border-color: #3292a6 !important; }

#boxes .text-primary {
  color: #3292a6 !important; }

#about .text-primary {
  color: #3292a6 !important; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#authors img {
  margin-top: -50px; }

#authors .text-primary {
  color: #3292a6 !important; }

#authors .card:hover {
  background: #3292a6;
  color: #fff; }
  #authors .card:hover .fab {
    color: #fff; }

#contact .btn-primary {
  background: #3292a6;
  border: none; }

#main-footer {
  --bs-bg-opacity: 1;
  background-color: #3292a6 !important; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; } }
